html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 165px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.show-details-modal {
    position: relative;
    padding: 20px;
    width: 50%;
    height: 40%;
    border: 10px solid black;
}

.bottom-exit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20%;
    height: 10%;
    border: 2px solid black;
    opacity: 1;
}

.bottom-exit:hover {
    cursor: pointer;
    opacity: 0.9;
}
    
.button-start {
    border: 2px solid black;
    font-weight: bold;
    position: absolute;
    width: 20%;
    top: 20px;
    height: 10%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.button-start:hover {
    cursor: pointer;
    background-color: green;
    color: black;
    font-weight: bold;
}

.change-info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 20px;
    height: 30px;
    width: 20%;
    background-color: green;
    opacity: 1;
    border: 2px solid black;
}

.change-info:hover {
    cursor: pointer;
    opacity: 0.9;
}

#fight-field {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.input-checkbox {
    width: 100%;
    height: 20px;
}

.field-fighter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field-fighter-img {
    height: 450px;
}
.field-fighter-img-right {
    height: 450px;
    transform: scaleX(-1);
}

.field-fighter-name {
    font-size: 30px;
    color: rgb(36, 44, 119);
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

.field-score-board {
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-tablo {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    color: green;
}

.damage-tablo {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: red;
}

.field-exit-button {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .field-exit-button:hover {
    opacity: 1;
  }
  .field-exit-button:before, .field-exit-button:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .field-exit-button:before {
    transform: rotate(45deg);
  }
  .field-exit-button:after {
    transform: rotate(-45deg);
  }

.show-winner {
    width: 100%;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner-name {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(39, 97, 27);    
}

